<ion-header>
  <ion-toolbar>
    <ion-title>
      Biocatch Ionic Plugin Example
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-grid>
      <ion-row>
        <ion-col class="ion-text-center">
          <ion-img src="assets/logo.png"></ion-img>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-button expand="block" color="primary" [disabled]="isOn" (click)="start()">
            <ion-ripple-effect></ion-ripple-effect>
            Start
          </ion-button>
        </ion-col>

        <ion-col>
          <ion-button expand="block" color="tertiary" [disabled]="!isOn" (click)="stop()">
            <ion-ripple-effect></ion-ripple-effect>
            Stop
          </ion-button>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-button expand="block" color="light" [disabled]="!isPaused" (click)="resume()">
            <ion-ripple-effect></ion-ripple-effect>
            Resume
          </ion-button>
        </ion-col>

        <ion-col>
          <ion-button expand="block" color="medium" [disabled]="isPaused" (click)="pause()">
            <ion-ripple-effect></ion-ripple-effect>
            Pause
          </ion-button>
        </ion-col>
      </ion-row>

      <ion-button expand="block" color="danger" class="ion-margin-bottom" (click)="resetSession()">
        <ion-ripple-effect></ion-ripple-effect>
        Reset Session
      </ion-button>

      <ion-item>
        <ion-label position="floating">Context Name</ion-label>
        <ion-input type="text" [(ngModel)]="contextName"></ion-input>
      </ion-item>

      <ion-button expand="block" color="dark" (click)="changeContext()">
        <ion-ripple-effect></ion-ripple-effect>
        Change Context
      </ion-button>

      <ion-item>
        <ion-label position="floating">Customer Session ID</ion-label>
        <ion-input type="text" [(ngModel)]="customerSessionID"></ion-input>
      </ion-item>

      <ion-button expand="block" color="dark" (click)="updateCustomerSessionID()">
        <ion-ripple-effect></ion-ripple-effect>
        Update Customer Session ID
      </ion-button>
    </ion-grid>

  </div>
</ion-content>
